extends layout

block content
  script(type="text/javascript").
    var chatId = "#{chatId}";
    var accountId = "#{accountId}";
    function $(id){
      return document.getElementById(id);
    }
    var ws = new WebSocket("ws://localhost:8080");
    ws.onmessage = function(evt){
      var msg = JSON.parse(evt.data);
      console.log(msg)
      switch(msg.event){
        case 'chat/create/error':
        case 'chat/create/response':
          ws.send(JSON.stringify({
            event: 'chat/join/request',
            chatId: chatId,
            accountId: accountId
          }));
          break;
        case 'chat/join/response':
          $("chatwindow").value += "Joined\n"
          break;
        case 'chat/join/error':
          $("chatwindow").value += "Joining error:" + msg.error + "\n"
          break;
        case 'chat/message/notify':
          $("chatwindow").value += msg.accountId + ": " + msg.message + "\n"
        default:
          console.log("Unrecognized: " + evt);
      }
    };

    ws.onopen = function(){
      ws.send(JSON.stringify({
        event: 'chat/create/request',
        chatId: chatId,
        accountId: accountId
      }));
    }

    function submit(){
      ws.send(JSON.stringify({
        event: 'chat/message/request',
        message: $('editline').value
      }));
      $('editline').value = "";
    }
  h1= title
  p CZAT #{accountId}
  div
    textarea(id="chatwindow", style="width:400px;height:200px;")
  div
    input(type="text", id="editline", style="width:300px;")
    button(onclick="submit()", style="width:100px;").
      SUBMIT
